* {
    font-family: 'Inter', sans-serif;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 700px;
    font-size: 1rem;
}

.formulario-body {
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.formulario-select {
    display: flex;
    flex-direction: row;
    gap: 5px

}

.idInput {
    width: 100%;
}