.container {
    background-color: rgb(136, 136, 136);
}

.formulario {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}